
<%= form_for @case do |form| %>


    
  <div class="col-lg-4 col-sm-12">
  <div class="field form-group">
    <p class="mform">
      <%= form.label :subject %><br>
      <%= form.text_field :subject, class: "form-control", required: true %>
    </p>
   
    <p class="mform">
      <%= form.label :detail %><br>
      <%= form.text_area :detail, class: "form-control", required: true %>
    </p>

    <p class="mform"> 
      <%= form.label :opposing_lawyer %><br>
      <%= form.text_field :opposing_lawyer, class: "form-control", required: true %>
    </p>
   
    <p class="mform">
      <%= form.submit class: "btn btn-info" %>
      <%= link_to 'Back', cases_path, class: "btn btn-danger" %>
    </p>

    </div>
    </div>
  <% end %>