<div class="container">
<div class="fb-profile">


<%= image_tag(@case.user.image, size: "400x200", alt: "User Image", class: "fb-image-profile thumbnail") %>

<p>
  <strong>E-mail:</strong>
  <%= @case.user.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @case.user.name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @case.user.bio %>
</p>

<%= link_to 'Back', cases_path, class: "btn btn-danger" %>
</div>
</div>